body {
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
}

p {
  font-size: 18px;
  color: hsl(0, 0%, 75%);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  display: flex;
  margin: 2rem 1rem 1rem 1rem;
  justify-content: space-between;
  align-items: center;
}

nav {
  background-color: hsl(257, 27%, 26%);
  border-radius: 8px;
  position: absolute;
  width: 90%;
  top: 5rem;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav hr {
  width: 90%;
  margin: 0 auto;
  border-color: rgba(255, 255, 255, 0.041);
}
@media (min-width: 600px) {
  nav hr {
    display: none;
  }
}
nav li {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}
nav a {
  color: white;
}
nav ul:nth-child(3) li:last-child a {
  background-color: hsl(180, 66%, 49%);
  border-radius: 25px;
  padding: 10px 7rem;
}

.nav-menu::before {
  font-size: 2rem;
  color: hsl(0, 0%, 75%);
}
@media (min-width: 600px) {
  .nav-menu::before {
    display: none;
  }
}

.nav-close {
  display: none;
}

.nav-open {
  display: block;
  visibility: visible;
  opacity: 1;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
}

.hero-image {
  overflow: hidden;
}
.hero-image img {
  max-width: 500%;
  width: 130%;
  transform: translate(5%, 3%);
}

.hero-content {
  height: 10%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}
.hero-content h1 {
  margin-bottom: 0;
}
.hero-content button {
  margin: 1rem 5rem;
  border: none;
  border-radius: 25px;
  padding: 15px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  background-color: hsl(180, 66%, 49%);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer ul {
  margin: 0;
  padding: 0;
}